<div>
  <h2>Add Task</h2>
  <form [formGroup]="taskForm" (ngSubmit)="addTask()">
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <input matInput formControlName="description" required>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="!taskForm.valid">Add Task</button>
  </form>
  <div *ngIf="message" class="feedback">{{ message }}</div>
</div>
